@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --paradise: #EF476F;
    --green: #06D6A0;
    --blue: #688AEB;
    --powder: #FFEABA;
}

body {
    color: white;
    background-attachment: fixed;
    background-size: cover;
    background-color: #001126;
    background-image: linear-gradient(rgba(0, 15, 40, 1), rgba(0, 0, 10, 0.7)), url('./sandias.webp');
    font-family: "Heiti TC", sans-serif;
    font-size: 1.25rem;
}

.grid-container {
    display: grid;
}

.red {
    background: var(--paradise);
}

.blue {
    background: var(--blue);
}

.green {
    background: var(--green);
}