body {
    background-color: black;
    color: white;
    background-image: linear-gradient(rgba(0, 15, 40, 1), rgba(0, 0, 10, 0.7)), url('sandias.png');
    background-attachment: fixed;
    background-size: cover;
    background-color: #314555;
    font-family: "Heiti TC";
}

a {
    color:white;
}
.bg {
    background-color: rgba(0, 25, 80, 0.9);
}

p {
    font-size: 1.3em;
}

img {
    display: block;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    float: top;
 }

h2 {
    margin-top: 1.5em;
}

section {
    margin: 0rem 2rem;
    line-height: 2rem;
}

@media only screen and (min-width: 640px) {
    section {
        margin: 0rem 4rem;
    }
}
@media only screen and (min-width: 1024px) {
    section {
        margin: 0rem 6em;
    }
}

@media only screen and (min-width: 1280px) {
    section {
        margin: 0rem 8rem;
    }
}