body {
   background-color: black;
   color: white;
    background-image: linear-gradient(rgba(0, 15, 40, 1), rgba(0, 0, 10, 0.7)), url('sandias.png');
    background-attachment: fixed;
    background-size: cover;
    background-color: #314555;
    margin-left: 3em;
    margin-right: 3em;

}
/*background-image: url("sandias.png");*/
a {
    color:white;
}
.bg {
    background-color: rgba(0, 25, 80, 0.9);
}

p {
    font-size: 1.3em;
}
img {
    display: block;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
   float: top;
 }