@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --paradise: #EF476F;
    --green: #06D6A0;
    --blue: #688AEB;
    --powder: #FFEABA;
}
body {
    color: white;
    background-attachment: fixed;
    background-size: cover;
    background-color: #002554;
    font-family: "Heiti TC", sans-serif;
    font-size: 1.25rem;
    /*background: vads`-powder)*/
}

.grid-container {
    display: grid;
}

.red {
    background: var(--paradise);
}

.blue {
    background: var(--blue);
}

.green {
    background: var(--green);
}